

body{
    background-color: rgb(210, 210, 210);
    padding-bottom: 40px;
}
.content{
    margin: 0px;
    padding: 20p;
    text-align: center;
    width: 100vw;
    height: 100%;

    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    width: 200px;
    padding: 8x;
    padding-left: 20px;
    font-size: 16px;
    height: 30px;
    display: inline;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);

}

a,a:hover,a:visited,a:focus,a:active{
    color: gray;
    text-decoration: none;
}

h2{
   font-weight: 500;
}
h3{
    text-align: right;
    font-weight: 300;
    font-size: 16px;
}
h5{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 0px;
}
